/* global styles */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	background:#fff;
	line-height: 1.5;
	color: #111;
	scroll-behavior: smooth;
}
.container {
	width: 90%;
	margin:auto;
}
img {
	width:100%;
	height: auto;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #111;
	font-size: 0.89em;
}
ul li  {
	display: inline-block;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	text-align:center;
	margin-top:2em;
	padding:0.5em 2em;
}
.btn-primary {
	background:#111;
	color: #fff;
	transition-property: background;
	transition-duration: 1s;
}
.btn-secondary {
	border:2px solid #111;
	transition-property: background;
	transition-duration: 1s;
}
.btn-primary:hover {
	border: 2px solid #111;
	background:transparent;
	color: #fff;
}
.btn-secondary:hover {
	border: none;
background:#111;
	color: #fff;	
}
.lead {
	padding-top:1em;
}
.title {
	font-size: 2em;
	font-weight: 400;
	text-transform: capitalize;
}
/*logo*/
.logo {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight:bold;
}
.quote {
	font-size: 2em;
	font-weight: lighter;
	padding:0 0.25em;
	color: #ccc;
}
.grid-three {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:1em;
}
.grid-two {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1em;
}
/* end of global style */
/* naavbar */
#navbar {
	background:#fff;
	overflow: hidden;
	padding: 1em;
	border-bottom: 1px solid lightgrey;
}

/*showcase*/
#showcase {
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/showcase.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height:100vh;
	width:100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	color:#fff;
}

#showcase h3 {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 400;
}
#showcase p {
	font-size:1.5em;
	text-transform: capitalize;
	font-weight: 400;
}
#showcase .btn {
background:#111;
	color: #fff;
}

#showcase .btn:hover {
	border: 2px solid #111;
	background: transparent;
}
/* home wrapper where all the main design goes for the homepage*/
.wrapper {
	clear: both;
}
.wrapper main {
	padding: 8em 0;
}
/* services */
#services {
background: #ccc;
}
/* testimonials */
/* contact */
#contact {
background: #ccc;
}
/* main-footer */
#main-footer {
text-align: center;
padding:2em 0;
}
#main-footer ul li a {
	padding:1em;
	font-weight: bold;
	text-transform: uppercase;
}
#main-footer ul li a:hover {
	text-decoration: underline;
}
/* end of homepage designs*/
/* start of about section design*/  