/* desktop only */
@media (min-width:521px ){
img {
	width:100%;
	height: 200px;
	object-fit: cover;
}
.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
}
#navbar {
	position:fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}
#navbar ul {
	float: right;
}
#navbar ul li a {
	text-transform: uppercase;
	display: inline-block;
	padding: 0 1em;
	font-weight: bold;
}
#navbar .logo {
	float: left;
}
.container {
	width:80%;
	margin: auto;
}
#showcase .btn {
background:#111;
	color: #fff;
}
.wrapper main {
	text-align: center;
}
}


/* mobile only*/
@media (max-width: 520px){
	/* global designs*/
		.grid-three {
		grid-template-columns: 1fr;
	}
	.grid-two {
		grid-template-columns: 1fr;
	}

.btn {
	width: 100%;
	margin:0.5em 0;
	padding:0.5em 1em;
}
.title 
{
	text-align: center;
}
/* mobile designs for the homepage */

.btn {
	padding:0.75em;
}
i {
	font-size: 1.5em;
	padding:0.25em;
}
.grid-two-one {
	grid-template-columns: 1fr;
}

	/*navbar */
	#navbar {
		text-align: center;
	}
	#navbar ul li a {
		font-size:0.79em;
		text-transform: uppercase;
		font-weight: bold;
		padding:0 0.25em;
	}
	
/* showcase */
#showcase {
	height:50vh;
}

#showcase h3 {
	font-size: 2em;
}
#showcase p {
	font-size:1.25em;
	}
#showcase .btn {
		display: none;
	}
	.wrapper main {
	padding: 3em 0;
}
/* titles*/
.title {
	font-size: 1.5em;
}
.sub-title {
	padding: 0.5em 0;
	font-size: 1.25em;
}
/* end of hompe page mobile designs*/

.about {
	padding: 2em 0;
}

/* end of about section design*/
/* start of services design*/
.services {
	padding: 2em 0;
}

/* start of contact design*/  
.contact {
	padding: 2em 0;
}
/* end of about contact design*/
/* start of blog section design*/  
#recent-blog-posts {
	padding: 2em 0;
}

/* end of blog section design*/

/* main-footer */
#main-footer {
padding:2em;
}
#main-footer ul li a {
	font-size: 0.79em;
	padding: 0 0.25em;
}

}